[submodule "submodule/bash_completion"]
	path = submodule/bash_completion
	url = https://gist.github.com/ec5a0d8851ef7715911934cd4fd60d2b.git
[submodule "submodule/inputrc"]
	path = submodule/inputrc
	url = https://gist.github.com/b3ce7445e0a18c042c29510c78fb0f6f.git
[submodule "submodule/private-layer"]
	path = submodule/private-layer
	url = https://github.com/hatsusato/private-layer.git
[submodule "submodule/tmux.conf"]
	path = submodule/tmux.conf
	url = https://gist.github.com/29d4dc885ff4639b429a47d811877f70.git
