[submodule "submodule/bash_completion"]
	path = submodule/bash_completion
	url = https://gist.github.com/ec5a0d8851ef7715911934cd4fd60d2b.git
[submodule "submodule/gitconfig"]
	path = submodule/gitconfig
	url = https://gist.github.com/661fd52008f8f4813eac41fd59c85d05.git
[submodule "private-layer"]
	path = .emacs.d/private/hatsusato
	url = https://github.com/hatsusato/private-layer.git
[submodule "submodule/readline"]
	path = submodule/readline
	url = https://gist.github.com/b3ce7445e0a18c042c29510c78fb0f6f.git
[submodule "submodule/tmux"]
	path = submodule/tmux
	url = https://gist.github.com/29d4dc885ff4639b429a47d811877f70.git
