[alias]
addall = add --all
addchmod = add --chmod=+x
adddryrun = add --dry-run
addedit = add --edit
addforce = add --force
addignoreremoval = add --ignore-removal
addinteractive = add --interactive
addnothing = add --intent-to-add
addnoignoreremoval = add --no-ignore-removal
addpatch = add --patch
addupdate = add --update

[alias]
branchcopy = branch --copy
branchcopyforce = branch --copy --force
branchcreate = branch
branchdelete = branch --delete
branchdeleteforce = branch --delete --force
branchlist = branch --list --verbose --verbose
branchlistall = branch --list --all --verbose --verbose
branchlistcontains = branch --list --verbose --verbose --contains
branchlistmerged = branch --list --verbose --verbose --merged
branchlistnocontains = branch --list --verbose --verbose --no-contains
branchlistnomerged = branch --list --verbose --verbose --no-merged
branchlistremote = branch --list --verbose --verbose --remotes
branchmoveforce = branch --force
branchnew = branch
branchrename = branch --move
branchrenameforce = branch --move --force
branchtrack = branch --set-upstream-to
branchuntrack = branch --unset-upstream

[alias]
commitall = commit --all
commitamend = commit --amend
commitamendnow = commit --amend --no-edit
commitdryrun = commit --dry-run
commitempty = commit --allow-empty --allow-empty-message
commitfixup = commit --fixup
commitmessage = commit --edit --message
commitmessagefile = commit --edit --file
commitmessagefixup = commit --edit --fixup
commitmessagereuse = commit --edit --reuse-message
commitmessagesquash = commit --edit --squash
commitmessagestdin = commit --edit --file -
commitpatch = commit --patch
commitsquash = commit --squash

[alias]
diffastext = diff --text
diffcached = diff --cached
diffcheck = diff --check
diffcompactsummary = diff --compact-summary
diffdirstat = diff --dirstat
difffunction = diff --function-context
diffgrep = diff -G
diffhistogram = diff --histogram
diffignorespace = diff --ignore-space-change
diffignoreregex = diff --ignore-matching-lines
diffminimal = diff --minimal
diffnameonly = diff --name-only
diffnamestatus = diff --name-status
diffnumstat = diff --numstat
diffpatience = diff --patience
diffprevious = diff HEAD^
diffreverse = diff -R
diffshortstat = diff --shortstat
diffstaged = diff --staged
diffstat = diff --stat
diffstring = diff -S
diffsubmodule = diff --submodule=diff
diffsummary = diff --summary
diffword = diff --word-diff=color
diffwordall = diff --word-diff-regex=.
diffwordregex = diff --word-diff-regex

[alias]
fetchforce = fetch --force
fetchmultiple = fetch --multiple
fetchsubmodules = fetch --recurse-submodules
fetchv4 = fetch --ipv4
fetchv6 = fetch --ipv6

[alias]
grepbinary = grep --text
grepcached = grep --cached
grepcount = grep --count
grepextended = grep --extended-regexp
grepfixed = grep --fixed-strings
grepfullname = grep --full-name
grepfunctioncontext = grep --function-context
grephidefilename = grep -h
grepignorecase = grep --ignore-case
grepinvert = grep --invert-match
grepnameonly = grep --name-only
grepnoindex = grep --no-index
greponlytext = grep -I
grepperl = grep --perl-regexp
grepshowfunction = grep --show-function
grepsubmodule = grep --recurse-submodules
grepword = grep --word-regexp
grepuntracked = grep --untracked

[alias]
logemail = log --graph --pretty=email
logfull = log --graph --pretty=full
logfuller = log --graph --pretty=fuller
loggraph = log --graph
logmedium = log --graph --pretty=medium
logoneline = log --graph --pretty=oneline
lograw = log --graph --pretty=raw
logreference = log --graph --pretty=reference
logshort = log --graph --pretty=short

[alias]
mergeabort = merge --abort
mergecontinue = merge --continue
mergeedit = merge --edit
mergefastforward = merge --ff-only
mergenocommit = merge --no-commit --no-ff
mergequit = merge --quit
mergestatus = merge --stat
mergesquash = merge --squash
mergeunrelatedhistories = merge --allow-unrelated-histories

[alias]
pushall = push --all
pushdelete = push --delete
pushforce = push --force
pushupstream = push --set-upstream

[alias]
rebasecontinue = rebase --continue
rebaseabort = rebase --abort
rebaseskip = rebase --skip
