[color]
  ui = always

[column]
  ui = row,dense

[commit]
  gpgSign = true
  verbose = true

[core]
  quotePath = false
  editor = editor
  pager = less -FRX
  abbrev = 4

[diff]
  context = 1
  ignoreSubmodules = dirty
  mnemonicPrefix = true
  # wordRegex = .
  wsErrorHighlight = all
  colorMoved = dimmed-zebra
  colorMovedWS = allow-indentation-change

[fetch]
  prune = true
  pruneTags = true
  parallel = 0

[grep]
  lineNumber = true
  column = true
  threads = 0

[interactive]
  singleKey = true

[log]
  abbrevCommit = true
  follow = true

[merge]
  ff = false
  autoStash = true

[pull]
  ff = only

[push]
  default = nothing
  recurseSubmodules = check

[rebase]
  stat = true
  autoStash = true
  missingCommitsCheck = error
  abbreviateCommands = true
